
/****** GENERAL CSS ******/
body {
  background-color: red;
  color: black;
}

a {
  text-decoration: none;
  text-align: center; 
  }

link {
display: none;
}

/****** HEADER ******/
h1 {
  background: black;
  background-image: ;
  color: white;
}

/**Menus**/
#main-menu {
  font-style: none;
  text-align: right;
}
#secondary-menu a {
  padding: 0 7px 0;
}
#secondary-menu {
  text-align: center;
}
/**Title**/
h1 {
  font-size: 3.1em;
  padding: 0;
  margin: 30px 0 50px;
  text-align: center;
}

/****** BODY ******/
/*DEMO VIDEO*/
#demo-video {
  text-align: center;
  padding: 50px 0;
}
#demo-video p {
  text-align: center;
  width: 65%;
  margin: 10px 17.5% 0;

}
/*BOTTOM*/
.facilities-bottom {
  text-align: center;
  padding: 25px;
  width: 20%;
  margin: 0 40%;
  background-color: black;
  color: white;
  border-radius: 10px;
  display: inline-block;
} 




