
/****** GENERAL CSS ******/
body {
  background-color: red;
  color: black;
}

a {
  text-decoration: none;
  text-align: center; 
  }

link {
display: none;
}

/****** HEADER ******/

/**Menus**/
#main-menu {
  text-align: right;
  font-style: none;
}
#secondary-menu a {
  padding: 0 7px 0;
}
#secondary-menu {
  text-align: center;
}
/**Title**/
h1 {
  font-size: 3.1em;
  padding: 0;
  margin: 30px 0 50px;
  text-align: center;
}

/****** BODY ******/
/*DEMO VIDEO*/
#demo-video {
  text-align: center;
  padding: 50px 0;
}
/*BOTTOM*/
.facilities-bottom {
  padding: 25px;
  margin: 50px 0 0;
  background-color: black;
  color: white;
} 



